.fondo{
	background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-green-leaf-fresh-cosmetics-shop-home-image_168785.jpg");
	-webkit-filter: blur(2px);
	-moz-filter: blur(7px);
	-o-filter: blur(7px);
	-ms-filter: blur(7px);
	filter: (7px);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

.card-form{
	border:2px rgb(0, 0, 0) solid;
	filter: (7px);
	margin-left: 150px;
	margin-right: 180px;
	margin-top: 20px;
	margin-bottom: 10px;
	height: 500px;
	padding: 70px;
	color: rgb(0, 0, 0);
	background-color: rgb(177, 177, 177);
}

.btn-disminuir{
	border:1px black solid;
	position: relative;
	top: -85px;
	width: 30px;
	left: 40px;
      
}
.btn-aumentar{
	border:1px black solid;
	position: relative;
	top: -85px;
	width: 30px;
	left: 110px;
}

.form-control{
	border:1px black solid;
	width: 500px;
	height: 35px;
}

.formulario{
	
	
}

.cant{
	width: 70px;
}