<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/style.css"> 
        <link rel="stylesheet" type="text/css" href="/css/navbar.css">

</head>

<div class="fondo"></div> 

  <body>

    <header>
      <nav class="navbar navbar-expand-lg">
          <img src="https://i.pinimg.com/originals/bc/58/81/bc5881b3a51d6df4119d9480da6c0330.jpg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
              alt="" height="60px" width="60px">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                  <ul class="menu">
                      <li><a th:href="@{/productos}">Productos</a></li>
                      <li><a th:href="@{/registros}">Registros</a></li>
                      <li><a href="" th:text="${usuarioActivo}"></a>
                          <ul class="submenu">
                              <li><a th:href="@{/login}">Salir</a></li>
                          </ul>
                      </li>
                  </ul>
                 
              </ul>
          </div>
      </nav>
  </header>
    
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card-form">
              <form th:action="@{/agregarProducto}" th:object="${nuevoProducto}" method="post">
                <div class="form-group">
                  <label for="">Nombre</label>
                  <input required th:field="*{nombre}" type="text" class="form-control" id="nombre">
                </div>
                <div class="form-group">
                  <label for="">Descripcion</label>
                  <input required th:field="*{descripcion}" type="text" class="form-control" id="descripcion">
                </div>
                <div class="form-group">
                  <label for="">Cantidad</label>
                  <input required th:field="*{cantidad}" type="text" class="form-control" id="cantidad">
                </div>
                <div class="form-group">
                  <label for="">Cantidad</label>
                  <select th:field="*{categoriaid}" class="form-control" id="categoria">
                    <option th:each="cat:${categorias}" th:value="${cat.id}" th:text="${cat.getNombre()}" />
                  </select>
                </div>
    
                <button type="submit" class="boton">Guardar</button>
              </form>
            </div>
        </div>
      </div>
    </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>