<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/navbar.css">
</head>


<body>
  <div class="fondo"></div>
  <header>
    <nav class="navbar navbar-expand-lg">
        <img src="https://i.pinimg.com/originals/bc/58/81/bc5881b3a51d6df4119d9480da6c0330.jpg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
            alt="" height="60px" width="60px">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <ul class="menu">
                    <li><a th:href="@{/productos}">Productos</a></li>
                    <li><a th:href="@{/registros}">Registros</a></li>
                    <li><a href="" th:text="${usuarioActivo}"></a>
                        <ul class="submenu">
                            <li><a th:href="@{/login}">Salir</a></li>
                        </ul>
                    </li>
                </ul>
               
            </ul>
        </div>
    </nav>
</header>


  <div class="container pt-4 pb-4">
    <div class="row">
      <div class="col">
        <div class="card-form" >
          <form class="formulario" th:action="@{/agregarProducto}" th:object="${cantidadEditar}" method="post">
            <div class="form-group">
              <input type="hidden" th:field="*{id}">
              <label for="">Nombre</label>
              <input readonly th:field="*{nombre}" type="text" class="form-control" id="nombre">
            </div>
            <div class="form-group">
              <label for="">Descripcion</label>
              <input readonly th:field="*{descripcion}" type="text" class="form-control" id="descripcion">
            </div>
            <div class="form-group">
              <label for="">Categoria</label>
              <input readonly th:value="*{categoriaid.nombre}" type="text" class="form-control" id="categoriaid">
              <input th:field="*{categoriaid}" type="hidden" class="form-control" id="categoriaid">

            </div>
            <div class="form-group">
              <label for="">Cantidad</label>
              <input readonly th:field="*{cantidad}" type="text" class="form-control cant" id="cantidad">
            </div>

            <button type="text" class="btn btn-primary">Guardar</button>
          </form>
          
          <button  class="btn-aumentar btn-secondary" onclick="aumentar()">+</button>
          <button class="btn-disminuir btn-secondary" onclick="disminuir()">-</button>
              
              
              
          
          
        </div>

      </div>
    </div>

  </div>

  <script>

    var cantidadActual = document.getElementById('cantidad').value;

    function aumentar() {
      var cantidad = document.getElementById('cantidad').value = ++cantidadActual;
    }

    function disminuir() {
      var cantidad = document.getElementById('cantidad').value = --cantidadActual;
    }

  </script>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>
<footer>

</footer>

</html>