<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/navbar.css">
        <link rel="stylesheet" type="text/css" href="/css/tablas.css"> 
</head>

<div class="fondo"></div> 

<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <img src="https://i.pinimg.com/originals/bc/58/81/bc5881b3a51d6df4119d9480da6c0330.jpg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                alt="" height="60px" width="60px">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <ul class="menu">
                        <li><a href="productos">Productos</a></li>
                        <li><a href="registros">Registros</a></li>
                        <li><a href="" th:text="${usuarioActivo}"></a>
                            <ul class="submenu">
                                <li><a href="login">Salir</a></li>
                            </ul>
                        </li>
                    </ul>
                   
                </ul>
            </div>
        </nav>
    </header>

  

    <div class="container pt-4 pb-4">
        <div class="row">
            <div class="col">
                <div class="card-form">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>fecha</th>
                                <th>producto</th>
                                <th>usuario</th>
                                <th>accion</th>
                                <th>cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="reg : ${registros}">
                                <td th:text="*{reg.fecha}"></td>
                                <td th:text="*{reg.productoid.nombre}"></td>
                                <td th:text="*{reg.usuarioid.nombre}"></td>
                                <td th:text="*{reg.accionid.nombre}"></td>
                                <td th:text="*{reg.cantidad}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

    <!-- Vue.js imports -->
    <script src="webjars/vue/vue.min.js"></script>
    <script src="webjars/axios/dist/axios.min.js"></script>
    <!-- Actual Vue.js script -->






</body>

</html>